


IO_LOC "Rx_in" 25;
IO_PORT "Rx_in" IO_TYPE=LVCMOS33 PULL_MODE = NONE;

IO_LOC "CLK" 52;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE = NONE;

IO_LOC "Flag" 26;
IO_PORT "Flag" IO_TYPE=LVCMOS33 PULL_MODE = NONE;

IO_LOC "parity_flag" 27;
IO_PORT "parity_flag" IO_TYPE=LVCMOS33 PULL_MODE = NONE;

IO_LOC "RESET" 69;
IO_PORT "RESET" IO_TYPE=LVCMOS33 PULL_MODE = NONE;

IO_LOC "Reg_out[0]" 28;
IO_PORT "Reg_out[0]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;
IO_LOC "Reg_out[1]" 29;
IO_PORT "Reg_out[1]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;
IO_LOC "Reg_out[2]" 30;
IO_PORT "Reg_out[2]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;
IO_LOC "Reg_out[3]" 33;
IO_PORT "Reg_out[3]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;
IO_LOC "Reg_out[4]" 34;
IO_PORT "Reg_out[4]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;
IO_LOC "Reg_out[5]" 63;
IO_PORT "Reg_out[5]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;
IO_LOC "Reg_out[6]" 35;
IO_PORT "Reg_out[6]" IO_TYPE=LVCMOS33 PULL_MODE = NONE;

